/* font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* colors */
:root {
    --primary: lightseagreen;
    --primary-dark:  rgb(47, 151, 146);
    --primary-light: rgb(215, 232, 233);
    --border: rgb(181, 201, 202);
    --text: rgb(104, 113, 114);
    --text-dark: rgb(13, 39, 38);
    --white: #fff;
    --star: "\f005";
}

/* full body style - mobile first*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--text-dark);
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    width: 100%;
    padding-top: 30px;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary);
}

h1 span {
    font-weight: 700;
    color: var(--text-dark);
}

body, .container, form, .td-rate,.td,.th,.td-title,.stars,.starss,.modal-stars{display: flex;}

body, .container {
    align-items: center;
    justify-content: center;
}

.container {
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    text-align: left;
    padding: 20px;
}

input {
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid var(--border);
}

form {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}

#button {
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-bottom: 3%;
}

.footer, table {
    width: 100%;
    background-color: var(--white);
}

input, button {
    height: 2rem;
}

.tb-head{display: none;}

.books {
    background-color: var(--white);
    font-weight: bold;
    padding: 5px;
}
.td,.td-title,.td-rate{color: var(--text);}

.table, .td,.th ,.td-title,.td-rate{
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-collapse: collapse;
}

.th {
    background-color:var(--white);
    font-weight: bold;
}


.td,.th,.td-title,.td-rate{
    align-items: center;
    padding: 5px;
}

.td2,.td3 {display: none;}

.table .tb-data .th.show,.table .tb-data .td.show {
    display: grid;
}

.td-rate{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.btns button{
    background-color: var(--primary-light);
    color: var(--text);
    margin: 0 5px;
    padding: 0;
    outline: none;
    border: none;
}

.star-rate{
    font-size: 16px;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.stars,.modal-stars{
    font-weight: 700;
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    margin-left: 0;
    padding-left: 0;
    color:var(--text);
    list-style-type: none;
}


.star{width: 1.1rem;}
.starss{padding: 0;}

/* grid areas */
.th1{grid-area: th1;}
.th2{grid-area: th2;}
.th3{grid-area: th3;}
.th4{grid-area: th4;}
.td1{grid-area: td1;}
.td2{grid-area: td2;}
.td3{grid-area: td3;}
.td4{grid-area: td4;}

/* grid */
.tb-data{
    background-color:var(--primary-light);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "td1"
                         "td2"
                         "td3"
                         "td4";

}



/* all fx */

.table:hover,input:hover,#button:hover,.table:hover,.btns button:hover,.star:hover{cursor: pointer;}

input:focus,#buton:focus{outline: none;}

/* class active */
.star.active,.btns button:hover {color: lightseagreen;}

input:hover {border: 1px solid lightseagreen;}

#button:hover{background-color: rgb(47, 151, 146);}

input:focus {
    border: 2px solid lightseagreen;
    transform: scale(1.01);
}

.star:hover,.btns button:hover {transform: scale(1.2);}

#button:active{transform: scale(0.98);}


.star::before{
    content: var(--star);
    color: var(--primary);
}
.star.active ~ .star::before{
    content: var(--star);
    color: var(--text);
}
.star:hover .star::before{
    content: var(--star);
    color: var(--primary);
}
.star:hover ~ .star::before{
    content: var(--star);
    color: var(--text);
}

.disabled:hover {
    cursor:not-allowed;
    transform: none;

}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
  }
  
  /* Modal Content */
  .modal-content {
      border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    min-width: 200px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: lightseagreen;
    text-decoration: none;
    cursor: pointer;
  }

  li.active{
      color: var(--primary);
  }

  

/* at media with biger screen size */
  @media(min-width:900px){

        .tb-data{
            margin-bottom: 0;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "td1 td2 td3 td4";
        }

        .table:hover{
            cursor:inherit;
        }

        .tb-head{display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "th1 th2 th3 th4";
        }

        .td2,.td3 {display: grid;}

        .th1,.th2,.th3,.td1,.td2,.td3 {border-right: 1px solid rgb(181, 201, 202);}

        .books {display: none;}
        
  }